body{
  background-color: black;
}

.titulo{
  background-color: #810078;
}

.titulo-rapi{
  padding: 6px 0px 0px 18px;
  color: white;
  font-weight: bold;
  font-style: oblique;
  font-size: 60px;
}

.titulo-coment{
  text-align:right;
  padding: 5px 25px 0px 0px;
  font-weight:bold;
  font-family: sans-serif;
  color: white;
}

.text-medio{
  text-align: center;
  font-size: 25px;
  color: white;
  padding: 50px 0px 50px 0px;
  background-color: #2C2B2C;
}

.w{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.w:hover{
  text-decoration: none;
  color: orange;
  border: white 10px solid;
}

.c div{
  padding-top: 25px;
}

.tpr{
  font-size: 70px;
  background-color: #2C2B2C;
  color: white;
  text-align:center;
  font-weight: bold;
}

.tps{
  background-color: #2C2B2C;
  color: white;
  text-align:center;
  font-size: 25px;
}

.ttt{
  background-color: #2C2B2C;
}

.n{
  padding: 15px
}

.kbc{
  color: yellow;
  font-weight: bold;
}

