.titulo{
  background-color: #810078;
}

.titulo-rapi{
  padding: 6px 0px 0px 18px;
  color: white;
  font-weight: bold;
  font-style: oblique;
  font-size: 60px;
}

.titulo-coment{
  text-align:right;
  padding: 5px 25px 0px 0px;
  font-weight:bold;
  font-family: sans-serif;
  color: white;
}

.text-medio{
  text-align: center;
  font-size: 25px;
  color: #8B008D;
  padding: 5px 30px 5px 30px;
  background-color: #FD88FF;
}

.w{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.w:hover{
  text-decoration: none;
  color: orange;
  border: white 10px solid;
}

